/* Erstellt durch Muhammed Sail Turan*/
@charset "UTF-8";

.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 400px;
  position: flex;
  height: 100%;
  overflow: auto;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size:110%;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size:110%;
  background-color: #3cb371;
}
.errors{
	color:red
}